body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 500px;
  background: white;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#messageArea {
  padding: 0;
  margin: 0;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}


#form {
  display: flex;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  border-radius: 5px;
}

#input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

#form > button {
  margin-left: 0.5rem;
  padding: 0 1rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  max-width: 70% ;
  margin: 8px;
  padding: 10px 14px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.25;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  white-space: pre-wrap;
  display: inline-block;
  clear: both; 
}

.client-message {
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  align-self: flex-end;
  float: right;
  text-align: left;
}

.server-message {
  background-color: #daf1ff;
  /* background-color: #e0ffe0; */
  color: #000;
  align-self: flex-start;
  float: left;
  text-align: left;
}
